.itemContainer {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 15px;
  background-color: antiquewhite;
  margin: 5px;
}

.similarItemImage {
  border-radius: 10px;
}

.priceAndRatingContainer {
  display: flex;
  justify-content: space-between;
}
